{% extends "base.html" %}
{% load bootstrap3 %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% bootstrap_css %}
{% bootstrap_javascript %}


{% bootstrap_messages %}



{% block content %}
<a class="btn btn-primary btn-sm" href="{% url 'person' id %}" role="button">Вернуться на страницу</a>
<a class="btn btn-primary btn-sm" href="{% url 'authapp-logout' %}" role="button">Выход из аккаунта</a>

        {% if sent %}
            {% block message %}<h3>Пользователь создан</h3>{% endblock %}
        {% endif %}

        <form method="POST" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {% bootstrap_form user_form layout='horizontal' error_types='all'%}
            <div align="center" id ="result"></div>
            <div align="center" id ="result1"></div>
            {% bootstrap_form person_form layout='horizontal' error_types='all'%}

            {% bootstrap_form image_form layout='horizontal' error_types='all'%}
            {% buttons %}
            <input type="submit" value="Сохранить редактирование" class="btn btn-primary center-block" align="right">
             {% endbuttons %}
        </form>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
     // CSRF code
 function getCookie(name) {
 var cookieValue = null;
 var i = 0;
 if (document.cookie && document.cookie !== '') {
 var cookies = document.cookie.split(';');
 for (i; i < cookies.length; i++) {
 var cookie = jQuery.trim(cookies[i]);
 // Does this cookie string begin with the name we want?
 if (cookie.substring(0, name.length + 1) === (name + '=')) {
 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
 break;
 }
 }
 }
 return cookieValue;
 }
 var csrftoken = getCookie('csrftoken');function csrfSafeMethod(method) {
 // these HTTP methods do not require CSRF protection
 return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
 }
  $.ajaxSetup({
 crossDomain: false, // obviates need for sameOrigin test
 beforeSend: function(xhr, settings) {
 if (!csrfSafeMethod(settings.type)) {
 xhr.setRequestHeader("X-CSRFToken", csrftoken);
 }
 }
 });
});
$('#id_username').on('input' , fun);

var interval;
function fun(){
    $.ajax({
        method: 'POST',
        url: 'add',
        dataType: "json",
        cache: false,
        data:  $(this).serialize(),
        success:
        function(response) {
                     console.log(response);
                     if(response['s'] ) {
                         $("#result1").show();
                         $("#result1").html("<div class='alert alert-success'>Номер свободен</div>");
                         $("#result").hide();

                     }
                     if(response['error'] ) {
                         $("#result").show();
                         $("#result").html("<div class='alert alert-danger'>"+ response['error']['username']+"</div>");
                         $("#result1").hide();
                     }


                },

        error :
        function (request, status, error) {
                     console.log(request.responseText);
                }
        })

    }

</script>
{% endblock %}