<!-- Шаблон страницы человека -->
{% extends "base.html" %} <!-- обёртка - базовый шаблон -->
{% block navigation %} <!-- блок левой (контекстной) навигации (пока не используется) -->
{% block content %} <!-- блок контента - здесь -->
<div class = "col-md-18" style="margin-left:10%"> <!-- отступ слева 10% ширины - почему не в базовом шаблоне? -->
    <p align="right">
        <a class="btn btn-primary btn-sm" href="{% url 'add_person' person.id %}" role="button">Добавить человека</a>
        <a class="btn btn-primary btn-sm" href="{% url 'edit_person' person.id %}" role="button">Редактировать</a>
        <a class="btn btn-primary btn-sm" href="{% url 'authapp-logout' %}" role="button">Выйти из аккаунта</a>
    </p>


    <h1>Об этом человеке: </h1>
    <ul class="list-group">
        <li class="list-group-item"><strong>Его(её) зовут: </strong>{{person.second_name}} {{person.first_name}} {{person.third_name}}</li>
        <li class="list-group-item"><strong>Телефон: </strong>{{person.users}}</li>
        <li class="list-group-item"><strong>Дата рождения: </strong>{{person.birthday}}</li>
        <li class="list-group-item"><strong>Фотографии: </strong>
        {% for i in image %}
            {% if i.image %}
                <img src="{{i.image_url }}" alt="{{ person.first_name }}" class="img-responsive" width="350" height="350">
            {% endif %}
        {% endfor %}
        </li>
    </ul>
</div>
{% endblock %}
