{% extends "base.html" %}
{% block navigation %} <!-- блок левой (контекстной) навигации (вынести в темплейт 2-ого уровня) -->
<div class = "container top-buffer container-mar "> <!-- контейнер для колонки -->
 <div class = "row">
 <div class = "col-md-">
<!--<nav class="navmenu navmenu-default fixed-left" role="navigation">-->

  <!--<ul class="nav navmenu-nav">-->
  <!--<li><a href="/"  style="color: black !important">На главную</a></li>-->
  <!--<li><a href="/2"  style="color: black !important">Люди</a></li>-->
    <!--<li class="dropdown"> &lt;!&ndash; раскрывающийся список &ndash;&gt;-->
      <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Здесь вложен список<b class="caret"></b></a>-->
      <!--<ul class="dropdown-menu navmenu-nav" role="menu">-->
        <!--<li><a href="#">Пункт 3.1</a></li>-->
        <!--<li><a href="#">Пункт 3.2</a></li>-->
        <!--<li><a href="#">Пункт 3.3</a></li>-->
        <!--<li><a href="#">Пункт 3.4</a></li>-->
      <!--</ul>-->
    <!--</li>-->
  <!--</ul>-->
<!--</nav>-->
</div>
 </div>
{% endblock %}
{% block content %}
<div class = "col-md-18" style="margin-left:10%">
    <p align="right">
        <a class="btn btn-primary btn-sm" href="{% url 'add_person' person.id %}" role="button">Добавить человека</a>
        <a class="btn btn-primary btn-sm" href="{% url 'edit_person' person.id %}" role="button">Редактировать</a>
        <a class="btn btn-primary btn-sm" href="{% url 'authapp-logout' %}" role="button">Выйти из аккаунта</a>
    </p>


    <h1>Об этом человеке: </h1>
    <ul class="list-group">
        <li class="list-group-item"><strong>Его(её) зовут: </strong>{{person.second_name}} {{person.first_name}} {{person.third_name}}</li>
        <li class="list-group-item"><strong>Телефон: </strong>{{person.users}}</li>
        <li class="list-group-item"><strong>Дата рождения: </strong>{{person.birthday}}</li>
        <li class="list-group-item"><strong>Фотографии: </strong>
        {% for i in image %}
            {% if i.image %}
                <img src="{{i.image_url }}" alt="{{ person.first_name }}" class="img-responsive" width="350" height="350">
            {% endif %}
        {% endfor %}
        </li>
    </ul>
</div>
</div>
{% endblock %}
