{#{% extends "main.html" %}#}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
    <a href="{% url 'add_person' person.id %}">Добавить пользователя</a>
    <a href="{% url 'edit_person' person.id %}">Редактировать пользователя</a>
    <h1>Данные пользователя:</h1>
    <ul>
        <li><strong>Никнейм:</strong> {{  person.users}}</li>
        <li><strong>Полное ФИО:</strong>  {{  person.third_name}}  {{  person.first_name}}
        {{  person.second_name}} </li>
        <li><strong>Дата рождения:</strong> {{  person.birthday}}</li>
        <li><strong>Фотогорафии: </strong>
        {% for i in image %}
            {% if i.image %}
                <img src="{{i.image_url }}" alt="{{ person.first_name }}"  width="250" height="250">
            {% endif %}
        {% endfor %}
        </li>
    </ul>










{#{% endblock %}#}

</body>
</html>