<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
  {% for message in messages %}
    <div class="text-danger">
{#                        <a class="close" href="#" data-dismiss="alert">×</a>#}
        <h4>{{ message }}</h4>
    </div>
{% endfor %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            {{ user_form.as_p }}
        <button type="submit" name="code" {{ disabled }}>Отправить код</button>
            {{ sms_form.as_p }}
        <button type="submit" name="reg" {{ disabled2 }}>Зарегистрироваться</button>
    </form>

</body>
</html>