# Базовый шаблон интерфейса всех приложений проекта Краснокаменка Инфо. 
# ДАЛЕЕ: 1. вынести все данные проекта в файл конфигурации для обеспечения переносимости шаблона
#        2. стили оформления вынести в конфигурацию проекта
#        3. шаблон привести к образцу - шаблону интерфейса Ютьба (смарт: меню внизу)
# Включает: код бутстрапа и темплейтов Джанго для шапки, верхнего горизонтального меню и подвала
#           для четырёх размеров мониторов - смартфон, планшет, ноутбук, десктоп.
{% load static %}
{% load bootstrap3 %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% bootstrap_css %}
{% bootstrap_javascript %}


{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- строка для браузера и результата выдачи поисковиками, блок должен использоваться всеми темплейтами -->
    <title>{% block title %}Бюро добрых услуг Краснокаменки на Южном берегу Крыма{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog.css' %}"> <!-- ссылка на файл используемого стиля  -->
</head>
<body>

{% block navbar %} <!-- Блок хэдера, включающий лого и меню -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation"
                style="background-color:#4f839f !important;"> <!-- задана прибитость к потолку и цвет, меняющий цвет стиля -->
      <div class="container"> <!-- контейнер внутри хэдера-->
        <!-- левее всего - свёрнутая кнопка меню в одном блоке с лого --> 
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">пусто</span> <!--  вместо "пусто" хочется описания ожидаемого здесь контента-->
            <span class="icon-bar">пусто2</span>
            <span class="icon-bar">пусто3</span>
            <span class="icon-bar">пусто4</span>
          </button>
          <!-- лого, задаём его стиль и путь перехода по клику -->
          <a class="navbar-brand " href="/" 
             style="color:white !important; font-size:100%">Бюро добрых услуг посёлка Краснокаменка Южного берега Крыма. +7-978-934-87-07</a>
        </div>
        <!-- затем - пункты верхнего меню -->
        <div class="collapse navbar-collapse" >
          <ul class="nav navbar-nav">
            <li><a href="/"  style="color: black !important">На главную</a></li>
            <li><a href="/person"  style="color: black !important">Люди</a></li>
            <li><a href="#"  style="color: black !important">О нас</a></li>
          </ul>
        </div>
      </div> <!-- закрыли контейнер лого и навигации --> 
    </div> <!-- закрыли хэдер --> 
{% endblock %}
          
{% block navigation %} <!-- заготовка блока левой (контекстной) навигации (может переопределяться в приложениях) -->
    <div class = "container top-buffer container-mar "> <!-- контейнер для колонки -->
      <div class = "row">
      <div class = "col-md-3 col-sm-6  no-margin">
    <!--<nav class="navmenu navmenu-default fixed-left" role="navigation">-->
    <!--<ul class="nav navmenu-nav">-->
      <!--<li><a href="/"  style="color: black !important">На главную</a></li>-->
      <!--<li><a href="/2"  style="color: black !important">Люди</a></li>-->
      <!--<li class="dropdown"> &lt;!&ndash; раскрывающийся список &ndash;&gt;-->
      <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Здесь вложен список<b class="caret"></b></a>-->
      <!--<ul class="dropdown-menu navmenu-nav" role="menu">-->
        <!--<li><a href="#">Пункт 3.1</a></li>-->
        <!--<li><a href="#">Пункт 3.2</a></li>-->
        <!--<li><a href="#">Пункт 3.3</a></li>-->
        <!--<li><a href="#">Пункт 3.4</a></li>-->
      <!--</ul>-->
      <!--</li>-->
    <!--</ul>-->
    <!--</nav>-->
      </div>
      </div>
    </div>
{% endblock %}

{% block content %} {% endblock %}

{% block footer %} <!-- блок футера (подвал) -->
    <footer class="footer navbar-fixed-bottom" style="color:white; background-color:#4f839f !important"> <!-- прибит (нужно ли?) -->
    <div class="container">
    Приходите, звоните или пишите нам по e-mail: <a href="mailto:kinoafisharu@gmail.com" style="color:black !important">kinoafisharu@gmail.com</a><p>
    Канал на Ютьюб: <a href="https://www.youtube.com/channel/UCkJtsloc8LcJGT3uhIGHu-A" style="color:black !important">жми сюда</a><p></p>
    </div>
    </footer>
{% endblock %}
</body>
{% block script %}{% endblock %} <!-- зачем этот блок??? я пока не понял, прошу понимающего дописать сюда назначение -->
</html>
