<!-- Шаблон главной -->
{% extends "base.html" %}
{% block content %} <!-- блок контента для главной -->

<div class = "col-xs-12 col-md-8"> <!-- одна колонка на всю ширину смартф, 2/3 ширины - ноут,
                                        внутри - панели -->
    
<div class="panel panel-default"> <!-- обводка панели тонкой скруглённой линией-->    
    <div class="panel-body">
    Вы - на сайте Бюро добрых услуг посёлка Краснокаменка.<p><p>
    Офис нашего Бюро работает по адресу: переулок Фрунзе, 11 (тропинка со стороны церкви).<p>
    Популярная услуга: бесплатное (без комиссии) пополнение телефонных счетов. А после первого обращения к нам пополнить счёт можно будет и в кредит по звонку или СМС-ке.<P>
    Услуги официальны: через ИП Иванов М.Л.: <p><p>
    <img src="static/я.jpg" alt="Михаил Леонидович Иванов" width="150" /><p><p>
    Организатор "Бюро добрых услуг": Михаил Леонидович Иванов, +7-978-934-87-07<p>
    </div>
</div>
    
<div class="panel panel-default">
    <div class="panel-body">
    Ещё у нас вы можете обменять рубли на доллары и наоборот по курсу лучшему, чем лучший курс обмена в Ялте:<p>
    <iframe id="test_informer" src="https://yalta.exdex.ru/ya_widget_freeset/?css=body{background:|fff}&ct=1&bid=576"
            frameborder="0" width="350" height="133" style="overflow:hidden;border:1px solid #efefef;border-radius:3px;"></iframe>
    <p>Наш курс - средний между показателями этого счетчика.<p>
    </div>
</div>
    
<div class="panel panel-default">
    <div class="panel-body">
    Какие услуги мы предлагаем жителям Краснокаменки:<p>
    1. Помощь в трудоустройстве;<p>
    2. Детская комната (можно оставить детей от получаса до 4 часов)<p>
    3. Уроки для тех, кто на домашнем обучении и для тех, кто хочет лучше успевать и хорошо сдавать экзамены:<p>
       английский язык, математика, физика, химия, русский язык, информатика, биология и др.<p>
       Подготовка к профессии: электрика, слесарное дело, программирование и web-разработка, тренинг разговорного английского<p>
    4. Бар-закусочная (перекусить и немного выпить вечером после трудного дня)<p>
    5. Кинозал (ежевечерне в 19:30 или кино, или музыкальный концерт, или трансляция на большом экране)<p>
    6. Место для проведения праздников (или, увы, поминок)<p>
    7. Мини-концерты для амбиционных артистов с прямой трансляцией в YouTube<p>
    8. Любые офисные услуги: ксерокопия, печать документов и текстов, интернет-услуги, онлайн-бухгалтерия<p>
    9. Ремонт любой электро- и электронной техники<p>
    10. Оздоровительный массаж (сертифицированный массажист)<p>
    и это не всё.<p><p><p><p>
    </div>
</div>
        
</div>
{% endblock %}
