


.top-buffer { margin-top:120px; } /* высота хэдера */

.container-mar {
margin-left:20 !important; padding:0 !important;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}