


.top-buffer { margin-top:120px; } /* высота хэдера */

.container-mar {
margin-left:0 !important; padding:0 !important;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* отступ снизу до футера (почему-то не срабатывает для главной) */
  margin-bottom: 360px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* высота футера */
  height: 120px;
}