
{% load bootstrap3 %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% bootstrap_css %}
{% bootstrap_javascript %}


{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>
<body>
    {% for message in messages %}
    {% endfor %}

    <form method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}

        {% bootstrap_form user_form layout='horizontal' error_types='all'%}
        <div align="center" id ="result"></div>
        <div align="center" id ="result1"></div>
        {% buttons %}
        <button type="submit" name="code" {{ disabled }} class="btn btn-primary center-block"
        style="margin-bottom: 20px;">Отправить код</button>
        {% bootstrap_form sms_form layout='horizontal' error_types='all' %}
        {% block but %}
        <button type="submit" name="reg" {{ disabled2 }} class="btn btn-primary center-block"
        style="margin-top: 20px;">Войти</button>
        {% endblock %}
        {% endbuttons %}
    </form>

</body>

<script type="text/javascript">
    $(document).ready(function(){
     // CSRF code
 function getCookie(name) {
 var cookieValue = null;
 var i = 0;
 if (document.cookie && document.cookie !== '') {
 var cookies = document.cookie.split(';');
 for (i; i < cookies.length; i++) {
 var cookie = jQuery.trim(cookies[i]);
 // Does this cookie string begin with the name we want?
 if (cookie.substring(0, name.length + 1) === (name + '=')) {
 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
 break;
 }
 }
 }
 return cookieValue;
 }
 var csrftoken = getCookie('csrftoken');function csrfSafeMethod(method) {
 // these HTTP methods do not require CSRF protection
 return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
 }
  $.ajaxSetup({
 crossDomain: false, // obviates need for sameOrigin test
 beforeSend: function(xhr, settings) {
 if (!csrfSafeMethod(settings.type)) {
 xhr.setRequestHeader("X-CSRFToken", csrftoken);
 }
 }
 });
});
{% block script %}
$('#id_username').on('input' , fun);
var interval;
function fun(){
    $.ajax({
        method: 'POST',
        url: '/login/',
        dataType: "json",
        cache: false,
        data:  $(this).serialize(),
        success:
        function(response) {
                     console.log(response);
                     if(response['s'] ) {
                         $("#result1").show();
                         $("#result1").html("<div class='alert alert-success'>Номер валидный</div>");
                         $("#result").hide();

                     }
                     if(response['error'] ) {
                         $("#result").show();
                         $("#result").html("<div class='alert alert-danger'>"+ response['error']['username']+"</div>");
                         $("#result1").hide();
                     }


                },

        error :
        function (request, status, error) {
                     console.log(request.responseText);
                }
        })

    }
{% endblock %}
</script>

</html>